/* CSS for the page */

#Tech{
    font-weight: bold;
    color: red;
}
#StaX{
    font-weight: bold;
    color: white;
}
#heading{
    font-weight: bold;
    margin: 5px;
    color: antiquewhite;
}
.header{
    background-color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.semiHeading{
    background-color: gainsboro;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.item{
    margin: 10px;
    border: 1px solid burlywood;
    padding: 10px;
    border-radius: 5px;
    max-width: 900px;
}
body{
    background-color: whitesmoke;
}